#header{
    background-color:#3f2077;
    min-height: 55px;
    color: white;
    padding-top: 12px;
}
#header ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#header ul li{
    display: inline;
    padding: 7px;
}
#header ul li a{
    color: rgb(44, 27, 155);
    font-size: 17px;
    text-align: center;
    padding: 20px;
}

#header ul li a:hover{
    background-color:#39db85;
    font-size: 18px;
}

#login_form{
    background-color: rgb(197, 119, 201);
    margin-top:50px;
    margin-left:500px;
    padding: 25px;
}

#card:hover{
width: 20rem;
}